<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE root[ 
<!ELEMENT umbHomepage ANY>
<!ATTLIST umbHomepage id ID #REQUIRED>
<!ELEMENT umbTextpage ANY>
<!ATTLIST umbTextpage id ID #REQUIRED>

]>
<root id="-1">
  <umbHomepage id="1067" parentID="-1" level="1" writerID="0" creatorID="0" nodeType="1064" template="1066" sortOrder="0" createDate="2012-11-21T08:38:16" updateDate="2012-11-21T08:41:37" nodeName="Core 3 Hotel Management" urlName="core-3-hotel-management" writerName="admin" creatorName="admin" path="-1,1067" isDoc="">
    <siteName>Core 3 Hotel Management</siteName>
    <siteDescription><![CDATA[whatever you want for a description.]]></siteDescription>
    <bodyText><![CDATA[]]></bodyText>
    <umbTextpage id="1072" parentID="1067" level="2" writerID="0" creatorID="0" nodeType="1068" template="1069" sortOrder="0" createDate="2012-11-25T22:04:42" updateDate="2012-11-25T22:11:34" nodeName="About Us - Philosophy" urlName="about-us-philosophy" writerName="admin" creatorName="admin" path="-1,1067,1072" isDoc="">
      <bodyText><![CDATA[<p>Core 3 Hotel Management prides itself on being a first class hotel management company. The staff at Core 3 Hotel Management has a long history with all aspects of hotel management and development. Our dedicated staff is determined to provide hotel owners with professional and courteous attention including the smallest of details. We realize a hotel is major investment and we at Core 3 Hotel Management are here to help make your ownership experience enjoyable and profitable.</p>
<p>Our philosophy is that every hotel deserves individualized attention and that no two are alike. Core 3 Hotel Management knows that providing quick results is very important. We rely heavily on revenue management practices, accountability from our sales staff and periodically observing all expenses to provide a better bottom line for ownership. We utilize a “hands on” approach in our management style and are committed to treating all customers, owners, and staff with respect and the ability to have open communication.</p>
<p>We appreciate the opportunity to allow us to take over the stress and daily concerns of your investment. We are committed to thorough communication including monthly statements, reports of shortcomings and “home runs” as well as monthly conference calls with the key operators of the hotel.</p>]]></bodyText>
      <sideText><![CDATA[<p><span>Core 3 Hotel Management is dedicated to helping your hotel be a success.</span></p>]]></sideText>
    </umbTextpage>
    <umbTextpage id="1073" parentID="1067" level="2" writerID="0" creatorID="0" nodeType="1068" template="1069" sortOrder="1" createDate="2012-11-25T22:47:20" updateDate="2012-11-25T22:47:34" nodeName="Management Services" urlName="management-services" writerName="admin" creatorName="admin" path="-1,1067,1073" isDoc="">
      <bodyText><![CDATA[<p>At Core 3 Hotel Management we believe that each property requires individualized attention. We feel that there is not a “one size fits all” approach to management. We offer a variety of management services to fit the needs of each hotel owner.</p>
<p><strong>Full Service Management</strong></p>
<p>We offer full service hotel management, which encompasses everything required to manage and run a hotel on a daily basis while exceeding guest expectations and overall profitability for the investors. We immediately begin to implement our proven procedures and policies to successfully manage your property. We make sure that the right people are in place with the proper tools to create a notable hotel for the community and something the ownership can be proud of.</p>
<p><strong>Accounting</strong></p>
<p>We also offer accounting services for those properties that may not have a need for our full service management. This would include implementing practices and procedures to safe guard your investment and daily online access through our powerful web based accounting system that allows daily monitoring of the performance. We provide owners with monthly reports of which will clearly outline the success and challenges in each given category.</p>
<p><strong>Consulting</strong></p>
<p>Core 3 Hotel Management is available for consulting. We offer consulting services for overall hotel management or we can provide assistance in any particular area where your hotel may need assistance. This would include consulting of sales and marketing, training of departmental managers or General Managers, implementing training procedures and expectations for the guest service representatives or also re-vamping housekeeping. Wherever a challenge may be a concern, we can offer our suggestions or be “hands on” to implement a plan to expedite the overall positive outcome that will benefit not only your team but also the customer and ultimately the bottom line.</p>]]></bodyText>
      <sideText><![CDATA[<p><span>Core 3 Hotel Management offers a variety of services that can be tailored to fit your needs.</span></p>]]></sideText>
    </umbTextpage>
    <umbTextpage id="1074" parentID="1067" level="2" writerID="0" creatorID="0" nodeType="1068" template="1069" sortOrder="2" createDate="2012-11-25T22:49:56" updateDate="2012-11-25T22:50:06" nodeName="Contact Us" urlName="contact-us" writerName="admin" creatorName="admin" path="-1,1067,1074" isDoc="">
      <bodyText><![CDATA[<ul class="location-details">
<li>
<p><strong>Core 3 Hotel Management</strong></p>
</li>
<li>1716 RT Dunn Drive, Suite 4</li>
<li>Bloomington, IL 61701</li>
<li>Phone: 309-808-2125</li>
<li>Email: <a href="mailto:info@core3hm.com">info@core3hm.com</a></li>
</ul>]]></bodyText>
      <sideText><![CDATA[]]></sideText>
    </umbTextpage>
    <umbTextpage id="1075" parentID="1067" level="2" writerID="0" creatorID="0" nodeType="1068" template="1069" sortOrder="3" createDate="2012-12-14T14:49:09" updateDate="2012-12-14T14:55:26" nodeName="Staff" urlName="staff" writerName="admin" creatorName="admin" path="-1,1067,1075" isDoc="">
      <bodyText><![CDATA[<p><strong>Mike Hundman</strong>  <em>Principle Owner</em></p>
<p>Mike Hundman is an experienced business owner and investor. In addition to owning and operating building material stores for many years, Michael was instrumental in the creation of Hundman Hotel Management. This management/investment group built, managed and sold several hotels. These properties included: Holiday Inn Hotel &amp; Suites, Wingate, Holiday Inn Express, Stay Bridge, Ramada and two Country Inn &amp; Suites. Mr. Hundman is the President of Core 3 Property Management of which manages residential and commercial properties throughout Central Illinois and is also the parent company of Core 3 Hotel Management. Mr. Hundman’s extensive business background and experience greatly benefit the management teams of Core 3 Property Management and Core 3 Hotel Management.</p>
<p><strong>Mark Fetzer</strong>  <em>General Manager</em></p>
<p>Mark is the General Manger of Core 3 Property Management and has over 10 years experience in commercial property development, construction, and management. Mark is a licensed Illinois Real Estate Broker and has his BA in Business Administration from the University of Illinois, Springfield. Mark values the relationships he enjoys with property owners and considers himself a partner in helping the owners achieve maximum profitability from their properties. Mark’s background in building and developing help provide expertise in maintaining high quality properties while staying under budget.</p>
<p><strong>Michelle Irvin</strong>  <em>Hotel Manager</em></p>
<p>Michelle Irvin has been employed in the hotel industry for 23 years. Her work history includes both operations and sales. She has experience both with boutique hotels as well as franchised properties. She thrives on exceeding owners expectations on top line revenue and bottom line profits. Michelle has personally overseen hotel renovations, PIP projects as well as new hotel openings. Many of the properties that Michelle has managed have received industry awards and she has been very active in industry organizations, including an Executive Board Member of the Illinois Hotel and Lodging Association. Michelle has also given many hours of her personal time to local charitable organizations.</p>
<p><strong>Rick Roeing  </strong><em>Controller</em></p>
<p><br /><strong>Vickie Wilder</strong>  <em>Accounting</em></p>]]></bodyText>
      <sideText><![CDATA[<p><span>Core 3 Hotel Management’s staff takes pride in each hotel they manage.</span></p>]]></sideText>
    </umbTextpage>
    <umbTextpage id="1076" parentID="1067" level="2" writerID="0" creatorID="0" nodeType="1068" template="1069" sortOrder="4" createDate="2012-12-14T14:57:53" updateDate="2012-12-14T14:59:12" nodeName="Properties" urlName="properties" writerName="admin" creatorName="admin" path="-1,1067,1076" isDoc="">
      <bodyText><![CDATA[<p><strong>Holiday Inn Hotel and Suites Bloomington Airport</strong></p>
<p style="padding-left: 30px;">3203 East Empire<br />Bloomington IL 61704<br />View More Information</p>
<p><strong>Hotel Specifications</strong></p>
<ul>
<li>126 Guest Rooms</li>
<li>5000 SF of meeting space</li>
<li>Amenities</li>
</ul>
<p><strong>Business Center</strong></p>
<ul>
<li>Health and Fitness Center</li>
<li>Spa</li>
<li>High Speed Internet</li>
<li>Dining</li>
</ul>
<p><strong>Baxter’s American Grille</strong></p>]]></bodyText>
      <sideText><![CDATA[<p>Holiday Inn Bloomington recently earned 2012 Certificate of Excellence award from Tripadvisor.</p>]]></sideText>
    </umbTextpage>
  </umbHomepage>
</root>